Assement 01.json
{
  "name": "Assesment 01",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.feedback }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<prompt>\n\n    <role>\n        You are a business message classifier and data extractor.\n    </role>\n\n    <input>\n        <user_requirement>\n            {{ $json.body.requirement }}\n        </user_requirement>\n    </input>\n\n    <tasks>\n        <task>Carefully analyze the user requirement message.</task>\n\n        <task>\n            Classify the intent into one of the following categories:\n\n            <categories>\n                <category name=\"Sales\">\n                    If the user wants to buy, sell, or inquire about products/services.\n                </category>\n                <category name=\"Support\">\n                    If the user needs help, reports a problem, or faces an issue.\n                </category>\n                <category name=\"Spam\">\n                    Any other unrelated or unclear messages.\n                </category>\n            </categories>\n        </task>\n\n        <task>\n            Extract the following structured data:\n            - Person name → store as \"name\"\n            - Organization name → store as \"company\"\n            - Requirement summary → store as \"requirement\" (must be in ONE clear sentence)\n\n            If any field is not found, set it as null.\n        </task>\n    </tasks>\n\n    <responses>\n        <response type=\"Support\">\n            Thank you for messaging us. Our support team will contact you as soon as possible.\n        </response>\n\n        <response type=\"Sales\">\n            Thank you for messaging us. Our sales team will contact you as soon as possible.\n        </response>\n\n        <response type=\"Spam\">\n            Thank you for contacting us. Our management team will review your message.\n        </response>\n    </responses>\n\n    <rules>\n        <rule>Return the name, company_name, response and your response. </rule>\n        \n    </rules>\n\n    <examples>\n\n        <example>\n            <lead_message>\n                Hello, this is Rahim from TechNova Ltd.\n                We are interested in purchasing your AI chatbot solution for our website.\n                Please share pricing and demo details.\n            </lead_message>\n\n            <intent>Sales</intent>\n\n            <extracted_fields>\n                <name>Rahim</name>\n                <company>TechNova Ltd</company>\n                <requirement>\n                    Interested in purchasing AI chatbot solution and wants pricing and demo details.\n                </requirement>\n            </extracted_fields>\n\n            <auto_reply>\n                Thank you for messaging us. Our sales team will contact you as soon as possible.\n            </auto_reply>\n        </example>\n\n        <example>\n            <lead_message>\n                Hi, I am Sarah from Bright Solutions.\n                Our chatbot integration is not working properly and showing API errors.\n                Please help urgently.\n            </lead_message>\n\n            <intent>Support</intent>\n\n            <extracted_fields>\n                <name>Sarah</name>\n                <company>Bright Solutions</company>\n                <requirement>\n                    Chatbot integration is not working and showing API errors.\n                </requirement>\n            </extracted_fields>\n\n            <auto_reply>\n                Thank you for messaging us. Our support team will contact you as soon as possible.\n            </auto_reply>\n        </example>\n\n        <example>\n            <lead_message>\n                Earn $5000 per week working from home.\n                Click this link now to get started!!!\n            </lead_message>\n\n            <intent>Spam</intent>\n\n            <extracted_fields>\n                <name>null</name>\n                <company>null</company>\n                <requirement>\n                    Promotional spam message.\n                </requirement>\n            </extracted_fields>\n\n            <auto_reply>\n                Thank you for contacting us. Our management team will review your message.\n            </auto_reply>\n        </example>\n\n    </examples>\n\n</prompt>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -64
      ],
      "id": "1cc19f2a-7e69-4f2e-85f9-4b4d68f76739",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "319daa43-683a-47c6-a9fb-10c9d2ad6b76",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -64
      ],
      "id": "33d834f1-7157-48b9-8989-4a960d027123",
      "name": "Webhook",
      "webhookId": "319daa43-683a-47c6-a9fb-10c9d2ad6b76"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        -64
      ],
      "id": "5c8c5cd7-0fa7-4699-85e9-8839ff94c843",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        144
      ],
      "id": "3325232c-7df6-4045-b208-166058dd4635",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GTN0YpsrL4bZN1MI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\":\"Support\",\n  \"name\": \"Sarah\",\n  \"company_name\": \"Bright Solutions\",\n  \"requirement\": \"Chatbot integration is not working and showing API errors.\",\n  \"response\": \"Thank you for messaging us. Our support team will contact you as soon as possible.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        144
      ],
      "id": "b7160a83-4c6d-4f5d-a6fa-2c2ce7bd3022",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9e580129-4ef7-4a0b-9996-14b322766d9e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d7ba1cb3-f909-4f47-af00-52e0464e15cb",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0d08f94-7530-4396-b932-ba481c508208",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        144
      ],
      "id": "0d3b153a-dbe1-4116-8a49-837ec3c7b243",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE",
          "mode": "list",
          "cachedResultName": "Updated Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Company": "={{ $json.output.company_name }}",
            "Requirments": "={{ $json.output.requirement }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirments",
              "displayName": "Requirments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -16
      ],
      "id": "36dc8e05-aec0-4d47-917f-9b55a4f39366",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "39YnRWac9cNhFvRi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE",
          "mode": "list",
          "cachedResultName": "Updated Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 99017254,
          "mode": "list",
          "cachedResultName": "Support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit#gid=99017254"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Company": "={{ $json.output.company_name }}",
            "Requirments": "={{ $json.output.requirement }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirments",
              "displayName": "Requirments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        160
      ],
      "id": "fd8fd809-e407-4a91-a4c2-aa31cfbb5bbd",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "39YnRWac9cNhFvRi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE",
          "mode": "list",
          "cachedResultName": "Updated Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 475759868,
          "mode": "list",
          "cachedResultName": "Spam",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNQ-30seYRtXJjOBIyK3CrpCiQOTWgA_aiXyWB5bZEE/edit#gid=475759868"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Company": "={{ $json.output.company_name }}",
            "Requirments": "={{ $json.output.requirement }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirments",
              "displayName": "Requirments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        336
      ],
      "id": "ea9db7b5-f180-4fb8-8618-ed615fe6b1b1",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "39YnRWac9cNhFvRi",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1266c81-2e68-4490-b464-ebda6ba2b2e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52b4dcff196f3c467402a6c5c1296c71a1477b4d741818c14a54ecf6f1488635"
  },
  "id": "KiJrX6AfqjjUIekc8k5MF",
  "tags": []
}
